.full-center {
    display: flex;
    justify-content: center;
}

.around {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.margin-input {
    margin: 15px;
}

.margin-input-last {
    margin-bottom: 0;
}

.circle {
    margin-bottom: 20px;
}

.input-center-full {
    width: 25vw;
}

.btn-save {
    height: 4vw;
    margin: 20px;
    border-radius: 5px;
    width: 40%;
    color: #47008e;
    font-size: 20px;
    text-align: center;
    display: inline;
    background-color: #79cbb8;
    border: none;
    cursor: pointer;
}

#block_check {
    height: 5px;
    transition: 1s;
    position: absolute;
    bottom: 5px;
}

.position_box {
    position: relative;
}

.input-focus:focus {
    outline: none;
    transform: scale(1.01);
}

::-webkit-input-placeholder {
    color: #47008e;
    font-weight: 700;
}

.last {
    position: relative;
    left: 5px;
    bottom: 8px;
    text-overflow: ellipsis;
}

.icon_ok {
    position: relative;
    left: 10px;
    color: #79cbb8;
    font-size: 20px;
}

.notVisible {
    visibility: hidden;
    bottom: 5px;
}

.visible {
    visibility: visible;
}

.inp {
    position: relative;
    top: 30px;
}

.inp-last {
    position: relative;
    top: 35px;
    visibility: visible;
}

.border-box {
    margin: 25px auto;
    border: 2px solid #79cbb8;
    width: 90%;
    border-radius: 5px;
}

.none {
    display: none;
}

.active-email {
    text-align: center;
    color: red;
    border: 1px solid red;
    width: fit-content;
    border-radius: 3px;
    cursor: pointer;
}

.i-active-email {
    font-size: 2vh;
}
