@media screen and (min-width: 1920px) {
    .header-table {
        font-size: 3vh;
    }

    .records, .cell-table {
        font-size: 2.5vh;
    }

    .name-date {
        right: 40px;
    }

    .btn-ok {
        height: 30px;
        font-size: 2vh;
    }

    .btn-fond-size {
        font-size: 30px;
        height: 50px;
    }
}

@media screen and (min-width: 801px) and (max-width: 1900px) {
    .btn-fond-size {
        font-size: 2.5vh;
        height: 40px;
    }
}

@media screen and (max-width: 600px) {
    .row-table {
        overflow-wrap: anywhere;
        height: fit-content;
    }

    .cell-table {
        width: fit-content;
        padding-left: 7px;
        height: fit-content;
        overflow-wrap: anywhere;
    }

    .btn-ok {
        height: fit-content;
    }

    .padding_header_last {
        padding-right: 0;
    }

    .btn-fond-size {
        font-size: 3vw;
    }

    h2 {
        font-size: 5vw;
    }
}
