.center-table {
    display: flex;
    justify-content: center;
}
.user-table {
    width: 90%;
    height: 100%;
    background-color: white;
    border-radius: 5px;
    border: 2px solid #79cbb8;
}
.name-table {
    height: 40px;
    display: grid;
    grid-template-columns: 3fr 4fr 2fr 2fr 1fr 1fr;
    /*grid-template-columns: repeat(4, 3fr) 1fr 1fr;*/
}
.row-table {
    background-color: gainsboro;
    height: 35px;
    border: 1px solid white;
    padding: 5px;
}
.cell-table {
    width: 50px;

}
.header-table {
    padding: 10px 0 10px;
    font-size: 15px;
    font-weight: bolder;
    color: #47008e;
    text-align: center;
}
.padding_header_last {
    padding-right: 55px;
}
.btn-ok {
    border-radius: 5px;
    height: 20px;

    position: relative;
    top: -2px;
}
.flex-fot-content {
    display: flex;
    justify-content: center;
}
.centric {
    width: 90%;
    margin: 10px 20px 20px;
    color: white;
}
