@media screen and (max-width: 600px) {
    .flex_space_between {
        display: block;
    }

    .select-search {
        margin: 0;
    }

    .label_input {
        position: unset;
        margin: 20px 5px 0 5px;
        width: 98%;
    }
    .label_input_last {
        position: unset;
        margin: 20px 5px 0 5px;
        width: 98%;
    }
    .edit-date-margin-last {
        margin: 20px 0 10px;
    }
    .byu-title {
        width: fit-content;
        margin-bottom: 0;
    }
}
@media screen and (max-width: 390px) {
    .btn_last {
        display: block;
    }
    .check {
        margin: 10px 0;
        width: 95%;
    }
    .check-div {
        margin: auto 10px;
        width: 100%;
    }
    .text-title, .img-none {
        display: none;
    }
    .grid-column {
        grid-template-columns: repeat(4, 3fr);
    }
}
