@media screen and (min-width: 1920px) {
    .select-search__input {
        font-size: 2.5vh;
    }
}

@media screen and (min-width: 600px) {
    .select-search {
        margin: 10px 0;
    }

    .select-search-last {
        margin-top: -10px;
    }
}
