.records {
    grid-template-columns: repeat(2, 3fr) 2fr 2fr;
}

.capitalize {
    text-transform: capitalize;
}

.cell-table-records {
    width: 150px;
}

.cell-table-records-name {
    width: 10px;
}

.first-record-name {
    padding-left: 15px;
}

.name-date {
    right: 60px;
}

.position-relative {
    position: relative;
}

.client-records {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: auto;
}
