.form {
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    align-self: center;
    margin-top: 150px;
}

.border {
    border: 5px solid #79cbb8;
    box-shadow: 5px -6px 8px 0 rgb(0 0 0 / 20%);
}

.form_header {
    font-size: 30px;
    font-weight: 700;
    color: #47008e;
}

.form_btn {
    border: none;
    background-color: #47008e;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    padding: 5px 10px;
    align-self: flex-end;
    margin-top: 10px;
    align-items: center;
    width: 100%;
    height: 40px;
}

.flex {
    display: flex;
    justify-content: center;
    margin-bottom: 40px
}

.flex_end {
    position: relative;
    left: 210px;
    border-radius: 5px;
    background-color: #e8dbdb;
}

.left {
    left: 53%
}

.login-reset-password {
    color: #79cbb8;
    margin: 15px 10px 0 10px;
    cursor: pointer;
}
