.delete_user {
    margin-top: 150px;
    padding: 10px 20px;
    border-radius: 12px;
    background-color: white;
    width: 350px;
    color: #47008e;
}
.flex {
    display: flex;
    justify-content: center;
}
.close_del {
    position: relative;
    left: 98%;
    margin: 0;
    cursor: pointer;
    background-color: white;
    height: fit-content;
}
.close_del i {
    color: #47008e;
}
.auto {
    width: auto;
}
.margin_right {
    margin-right: 30px;
    margin-left: -10px;
}
.input-width {
    width: 100%;
}
