@media screen and (min-width: 1920px) {
    h2 {
        font-size: 5vh;
    }

    .big-btn {
        height: 80px;
        font-size: 40px;
    }

    .btn-add {
        height: 50px;
        font-size: 30px;
    }
}
