.autorization {
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: center;
    background-color: #e8dbdb;
    border-radius: 20px;
    padding: 30px;
    align-self: center;
    margin-top: 100px;
}
.autorization_header {
    font-size: 30px;
    font-weight: 700;
}
.autorization_btn {
    border: none;
    background-color: #3b3bd2;
    border-radius: 8px;
    color: white;
    font-weight: 700;
    padding: 5px 10px;
    align-self: flex-end;
    margin-top: 10px;
}
