.button-calendar {
    border-radius: 1vw;
    height: 3vw;
    margin: 2px;
    position: relative;
    top: 0.5vw;
    display: flex;
    justify-content: center;
    background-color: #79cbb8;
    border: none;
    cursor: pointer;
}

.icon-monitor {
    height: 3vw;
    font-size: 2vw;
}
