* {
    box-sizing: border-box;
}
.product-flex {
    display: flex;
    justify-content: center;
    align-content: center;
}

.product-menu {
    /*height: 600px;*/
    width: 20%;
    padding: 15px 10px 0 15px;
    /*background-color: #a5e3d4;*/
}
.padding {
    padding: 5px;
}
.category {
    width: 100%;
    padding: 5px;
    border: 2px solid #47008e;
    border-radius: 5px;
    color: #47008e;
    cursor: pointer;
    background-color: white;
    font-size: 15px;
    text-align: start;
}
/*.category:hover,*/
/*.category.active {*/
/*    border-color: red;*/
/*}*/

.row {
    width: 80%;
    padding-right: 15px;
}
/* Очистить поплавки после столбцов */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.disp-blok {
    display: block;
}
.active-menu {
    border-color: #79CBB8FF;
    background-color: #79cbb8;
    color: white;
}
