* {
    box-sizing: border-box;
}

.product-flex {
    display: flex;
    justify-content: center;
    align-content: center;
}

.product-menu {
    width: 20%;
    padding: 15px 10px 0 30px;
}

.padding {
    padding: 5px;
}

.category {
    width: 100%;
    padding: 0.5vw;
    border: 2px solid #47008e;
    border-radius: 5px;
    color: #47008e;
    cursor: pointer;
    background-color: white;
    font-size: 15px;
    text-align: start;
    height: 100%;
}

.row {
    width: 80%;
    padding: 15px 10px 0 0;
}

.row-container {
    width: 100%;
    margin: 0 auto;
}

.filter-name-no {
    display: none;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.disp-blok {
    display: block;
}

.active-menu {
    border-color: #79CBB8FF;
    background-color: #79cbb8;
    color: white;
}

.menu-title, .hr, .non-icon {
    display: none;
}

.courseContainer {
    height: auto;
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
