@media screen and (min-width: 1920px) {
    .contact-h1 {
        font-size: 5vh;
    }

    .contact-info-p-first {
        font-size: 3.5vh;
    }

    .contact-info-p-second {
        font-size: 2.5vh;
    }

    .contact-info-item {
        height: 250px;
    }
}

@media (max-width: 600px) {
    .contact-info-item {
        height: inherit;
    }

    .contact-icon-circle {
        width: 40px;
        height: 40px;
    }

    .contact-info-p-first {
        font-size: 20px;
    }

    .contact-info-p-second {
        font-size: 10px;
        margin-bottom: 5px;
    }

    .contact-info {
        grid-gap: 20px;
    }

    .contact-grid {
        display: block;
    }

    .contact-button {
        width: 100%;
    }

    .contact-area {
        font-size: 2vh;
    }

    .contact-button {
        font-size: 2.5vh;
        height: 60px;
    }
}
